<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TechNode</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right" ng-show="me">
                <li>
                    <img ng-src="http:{{me.avatarUrl}}" title="{{me.name}}" class="img-rounded">
                </li>
                <li>
                    <a href="" ng-click="logout()">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
    <div class="container" style="margin-top:100px">
    	<div class="col-md-12">
    		<div class="panel panel-default room" ng-controller="roomCtrl">
    			<div class="panel-heading room-header">TechNode</div>
    			<div class="panel-body room-content">
    				<div class="message" window-height auto-scroll-to-bottom>
    					<div class="list-group" ng-repeat="message in messages track by $index">
    					   某某：{{message}}
    					</div>
    				</div>
    				<form class="message-creator" ng-controller="messageCreatorCtrl">
    					<div class="form-group">
    						<textarea ng-model="newMessage" ctrl-enter-break-line="createMessage()" style="color:#000" required class="form-control message-input" placeholder="Ctrl+Enter to quick send">
    							
    						</textarea>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>